main {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.contenedor-reportes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.tarjeta-reporte {
    display: flex;
    flex-direction: column;
    gap: 0.95rem;
    width: 100%;
    border: 1px solid #ccc;
    padding: 1.5rem;
    border-radius: 5px;
}
.tarjeta-reporte header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5rem;
}

.tarjeta-reporte h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--negro);
}

.estado-badge {
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.85rem;
}

.estado-badge.abierto {
    background-color: #1f883d;
    color: var(--blanco);
}

.estado-badge.cerrado {
    background-color: #8250df;
    color: var(--blanco);
}

.tarjeta-reporte section p {
    margin: 0.5rem 0;
    font-size: 0.95rem;
}


@media (min-width: 576px) {
    main {
        padding: 2rem 1.2rem;
    }
    .contenedor-reportes {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .contenedor-reportes {
        max-width: 720px;
    }
}